@model IEnumerable<Sport.Models.Station>

@{
    ViewBag.Title = "Stansiyalar";
}

<p>
    @Html.ActionLink("Yenisini yarat", "create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Dəyiş", "edit", new { id=item.Id }) |
            @Html.ActionLink("Detallar", "details", new { id=item.Id }) |
            @Html.ActionLink("Sil", "delete", new { id=item.Id })
        </td>
    </tr>
}


</table>

<a href="@Url.Action("index", "dashboard")">
    <i class="fas fa-chevron-left"></i> Geri
</a>
