
@{
    ViewBag.Title = "Index";
}

<main>
    <section id="home">
        <div class="canvas-wrap">
            <div id="canvas" class="gradient"></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <a href="search.html" class="searching">Axtarış</a>
                </div>
            </div>
        </div>
    </section>
    <section id="categories">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-lg-12 iHead element">
                    <h2>Məkanlar</h2>
                </div>
                <div class="col-lg-3 text-center iHead">
                    <span></span>
                    <span class="sec"></span>
                </div>
            </div>
            <div class="row justify-content-center">
                <!-- Fitness zalları -->
                <div class="col-sm-4 mb-5 mekanlar">
                    <div class="card">
                        <a href="@Url.Action("index", "category")">
                            <div class="photo">
                                <img src="/Public/img/categories/fitness.jpeg">
                            </div>
                            <h3>Fitness zalları</h3>
                        </a>
                    </div>
                </div>
                <!-- futbol -->
                <div class="col-sm-4 mb-5 mekanlar">
                    <div class="card">
                        <a href="@Url.Action("index", "category")">
                            <div class="photo">
                                <img src="/Public/img/categories/football.jpg">
                            </div>
                            <h3>Futbol meydançaları</h3>
                        </a>
                    </div>
                </div>
                <!-- Təkbətək idman növləri -->
                <div class="col-sm-4 mb-5 mekanlar">
                    <div class="card">
                        <a href="@Url.Action("index", "category")">
                            <div class="photo">
                                <img src="/Public/img/categories/maa.jpeg">
                            </div>
                            <h3>Təkbətək idman növləri</h3>
                        </a>
                    </div>
                </div>
                <!-- hovuz -->
                <div class="col-sm-4 mb-5 mekanlar">
                    <div class="card">
                        <a href="@Url.Action("index", "category")">
                            <div class="photo">
                                <img src="/Public/img/categories/swim.jpeg">
                            </div>
                            <h3>Hovuzlar</h3>
                        </a>
                    </div>
                </div>
                <!-- magazalar -->
                <div class="col-sm-4 mb-5 mekanlar">
                    <div class="card">
                        <a href="@Url.Action("index", "category")">
                            <div class="photo">
                                <img src="/Public/img/categories/shops.jpg">
                            </div>
                            <h3>Mağazalar</h3>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <a href="@Url.Action("index", "category")" class="iBtn">
                        Ətraflı
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section id="health">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-lg-12 iHead">
                    <h2>Sağlamlıq</h2>
                </div>
                <div class="col-lg-3 text-center iHead">
                    <span></span>
                    <span class="sec"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-md-6 col-lg-3 mb-5 saglamliq">
                            <div class="healthCard iTilt" data-tilt data-tilt-scale="1.1" data-tilt-axis="y">
                                <div class="cardHead">
                                    <a href="programs.html" class="cardBg">
                                        <img src="/Public/img/health/programs2.jpg">
                                    </a>
                                    <h2><a href="programs.html">Məşq proqramları</a></h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 mb-5 saglamliq">
                            <div class="healthCard iTilt" data-tilt data-tilt-scale="1.1" data-tilt-axis="y">
                                <div class="cardHead">
                                    <a href="calculation.html" class="cardBg">
                                        <img src="/Public/img/health/calculate.jpg">
                                    </a>
                                    <h2><a href="calculation.html">Hesablamalar</a></h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 mb-5 saglamliq">
                            <div class="healthCard iTilt" data-tilt data-tilt-scale="1.1" data-tilt-axis="y">
                                <div class="cardHead">
                                    <a href="nutrition.html" class="cardBg">
                                        <img src="/Public/img/health/food.jpg">
                                    </a>
                                    <h2><a href="nutrition.html">Qidalar</a></h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 mb-5 saglamliq">
                            <div class="healthCard iTilt" data-tilt data-tilt-scale="1.1" data-tilt-axis="y">
                                <div class="cardHead">
                                    <a href="motivation.html" class="cardBg">
                                        <img src="/Public/img/health/motivation.jpg">
                                    </a>
                                    <h2><a href="motivation.html">Motivasiya</a></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

