@model IEnumerable<Sport.Models.Blog>

@{
    ViewBag.Title = "Bloq yazıları";
}


<p>
    @Html.ActionLink("Yenisini yarat", "create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>

        <th>Əməliyyatlar</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @item.Date.Value.ToString("dd.MM.yyyy")
        </td>
        <td>
            <img src="~/uploads/@item.Photo" alt="Alternate Text" width="100" />
        </td>
       
        <td>
            @Html.ActionLink("Dəyiş", "edit", new { id=item.Id }) |
            @Html.ActionLink("Detallar", "details", new { id=item.Id }) |
            @Html.ActionLink("Sil", "delete", new { id=item.Id })
        </td>
    </tr>
}

</table>

<a href="@Url.Action("index", "dashboard")">
    <i class="fas fa-chevron-left"></i> Geri
</a>