@model Sport.Models.Admin

@{
    ViewBag.Title = "Əsas səhifə";
}


<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-900">Admin: @Model.Name @Model.Surname</h1>
    </div>
    <!-- Content Row -->
    <h4 class=" text-gray-800">Məlumatlar:</h4>
    <div class="row">
        <!-- Məlumatlar -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <a href="@Url.Action("index","regions")" font-weight-bold text-primary text-uppercase mb-1">Rayonlar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <a href="@Url.Action("index","stations")" font-weight-bold text-primary text-uppercase mb-1">Stansiyalar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <a href="@Url.Action("index","categories")" font-weight-bold text-primary text-uppercase mb-1">Məkan növləri</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <a href="@Url.Action("index","locations")" font-weight-bold text-primary text-uppercase mb-1">Məkanlar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <a href="@Url.Action("index","blogs")" font-weight-bold text-primary text-uppercase mb-1">Bloq yazıları</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Məlumatlar -->

    </div>
    <!-- Content Row -->
</div>
