@model Sport.Models.Location

@{
    ViewBag.Title = "Sil";
}

<h3>Məkanı silməyə əminsiniz?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Category.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Region.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Region.Name)
        </dd>*@

        @*<dt>
            @Html.DisplayNameFor(model => model.Station.Name)
        </dt>*@

        @*<dd>
            @Html.DisplayFor(model => model.Station.Name)
        </dd>*@

        <dt>

        <dt>
            @Html.DisplayNameFor(model => model.StreetNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StreetNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DailyPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DailyPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MonthlyPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonthlyPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Info)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Info)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-danger" /> |
            @Html.ActionLink("Siyahıya qayıt", "index")
        </div>
    }
</div>
